@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300,400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
  background-image: linear-gradient(black, blue);
}
a {
  text-decoration: none;
}

.navbar,
.navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  /* |----------------------------------- | Start navbar logo or brand etc.. |----------------------------------- */
  /* |----------------------------------- | Start navbar menu |----------------------------------- */
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
}

.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}

.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar .navbar-menu .navbar-nav > li > a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: blue;
}

.navbar .navbar-menu .navbar-nav > li.active a {
  color: rgb(255, 255, 255);
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}
.navbar .navbar-dropdown {
  position: relative;
}
.navbar .navbar-header > a span {
  color: #66f;
}
.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

/* full nav bar with responsiveness */

.header-bg-img {
  padding-top: 10px;
  color: white;
  font-size: 15px;
  text-align: left;
}

.content {
  height: 750px;
  padding-top: 35px;
  color: white;
}

p {
  margin: 0px;
}

.input {
  margin-top: 10px;
  float: right;
}

.intro {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(248, 245, 245);
  transition: 0.3s;
  width: 40%;
  margin-right: 4rem;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(17, 52, 248);
}

.this__logo img {
  object-fit: cover;
  width: 130px;
  height: 50px;
}

.container {
  padding: 2px 16px;
}

.main-card-container {
  margin-top: 48px;
  margin-left: 100px;
  display: flex;
}

.intro.h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.main_text {
  margin-top: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_text2 {
  font-family: monospace;
  color: gray;
}

.mainImage {
  width: 100%;
  height: 352px;
}

.mainImage1 {
  height: 352px;
}

/* section 2 css */

.about {
  background-color: #c5c8c9;
  height: 30rem;
  display: grid;
  justify-items: center;
  margin-top: 3rem;
  align-content: space-evenly;
  color: white;
  text-align: center;
}
.about h1 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  font: weight 500;
}

.about p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* end of section 2 css */

/* section 3 css */
/* -------------------------------- 

Primary style

-------------------------------- */

ul {
  list-style: none;
}

.trigger:focus + .faq-content {
  display: block;
}

@font-face {
  font-family: "kievit-regular";

  src: url("css/kievit-regular.ttf") format("truetype");
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after,
*::before {
  content: "";
}

body {
  font-size: 100%;
  font-family: "kievit-regular", sans-serif;
  color: #4e5359;
  background-color: #f3f3f5;
}
body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
body.cd-overlay::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

a {
  color: #a9c056;
  text-decoration: none;
}

/* -------------------------------- 
    
    Main components 
    
    -------------------------------- */
.faq-heading {
  text-align: center;
  color: white;
  font-size: 30px;
}

header h1 {
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-size: 1.25rem;
}

.faq {
  width: 90%;
  max-width: 1024px;
  margin: 2em auto;
  margin-bottom: 4rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.faq:after {
  content: "";
  display: table;
  clear: both;
}

.categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  padding: 0 28px 0 16px;
  background-color: #4e5359;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid #555b61;
  text-overflow: ellipsis;
}
.categories a::before,
.categories a::after {
  /* plus icon on the right */
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: #7f868e;
}
.categories a::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.categories li:last-child a {
  border-bottom: none;
}

.faq-items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) translateX(100%);
  -moz-transform: translateZ(0) translateX(100%);
  -ms-transform: translateZ(0) translateX(100%);
  -o-transform: translateZ(0) translateX(100%);
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.faq-items.slide-in {
  -webkit-transform: translateZ(0) translateX(0%);
  -moz-transform: translateZ(0) translateX(0%);
  -ms-transform: translateZ(0) translateX(0%);
  -o-transform: translateZ(0) translateX(0%);
  transform: translateZ(0) translateX(0%);
}
.no-js .faq-items {
  position: static;
  height: auto;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before,
.cd-close-panel::after {
  /* close icon in CSS */
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: #6c7d8e;
}
.cd-close-panel::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-close-panel::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}

.faq-group {
  /* hide group not selected */
  display: none;
}
.faq-group.selected {
  display: block;
}
.faq-group .faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;
}
.no-touch .faq-group .faq-title:hover {
  box-shadow: none;
}
.faq-group .faq-title h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #bbbbc7;
}
.no-js .faq-group {
  display: block;
}
.faq-group > li {
  background: #ffffff;
  margin-bottom: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.no-touch .faq-group > li:hover {
  box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
}
.faq-group .faq-title {
  margin: 2em 0 1em;
}
.faq-group:first-child .faq-title {
  margin-top: 0;
}

.trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 0.4em;
  line-height: 1.2;
}
.trigger::before,
.trigger::after {
  /* arrow icon on the right */
  position: absolute;
  right: 24px;
  top: 50%;
  height: 2px;
  width: 13px;
  background: #cfdca0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.trigger::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 32px;
}
.trigger::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content-visible .trigger::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content-visible .trigger::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.faq-content p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #6c7d8e;
}
.faq-content p {
  line-height: 1.6;
}
.no-js .faq-content {
  display: block;
}

/* end of section 3

/* section 4 css */
.logo-img {
  width: 14rem;
}

.signup-section {
  position: relative;
  width: 100%;
}

.contact-header {
  display: block;
  position: relative;
  top: -25px;
  height: 50px;
}

.contact-main {
  background-color: #c5c8c9;
  color: #3a3a3a;
}

form {
  padding: 5%;
  padding-top: 0;
  margin: 4rem;
}
.form-heading {
  color: white;
  font-size: 40px;
  text-align: center;
}
#logo-container {
  margin-bottom: 5rem;
  text-align: center;
}

svg {
  transform: scale(0.8, 0.8);
}

path#bratva-logo-image {
  fill: #511c1c;
  stroke: #511c1c;
}

#bratva-logo-text {
  fill: black;
}

.input-label {
  display: block;
  float: left;
  margin: 15px 0 3px;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
}

input {
  display: block;
}

.signup-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px transparent;
  box-sizing: border-box;
  background-color: white;
  padding: 0px 0px 0px 5px;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.signup-submit {
  margin-top: 25px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: transparent;
  font-size: 17px;
  color: white;
  background-color: grey;
}

.signup-submit:hover {
  background-color: transparent;
  border: 3px grey solid;
}

.signup-submit:focus {
  outline: none;
}

.signup-note {
  color: #dcdada;
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 0;
  background-color: #2165bd;
}

.pass-reset {
  color: #b3c9de;
  cursor: pointer;
  margin: 0 0 10px 0;
  padding-top: 17px;
  text-align: center;
}

.signin-question-link {
  color: #dcdada;
  display: -webkit-box;
}
.signin-div {
  margin-bottom: 40px;
  display: grid;
  justify-content: space-evenly;
}
.signin-question-link1 {
  color: aliceblue;
  display: -webkit-box;
  padding-top: 1px;
}
.signin-question-link2 {
  color: aliceblue;
  display: flex;
  padding-top: 2px;
}
.signup-instruct {
  color: aliceblue;
  display: block;
  text-align: center;
}
